<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Modificar asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Información de Asignatura</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Asignatura</ion-label>
        <ion-input type="text" [(ngModel)]="materia.name" placeholder="Awesome Input"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Codigo</ion-label>
        <ion-input type="text" [(ngModel)]="materia.code" placeholder="Awesome Input"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Seccion</ion-label>
        <ion-input type="text" [(ngModel)]="materia.seccion" placeholder="Awesome Input"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button (click)="ModificarAsignatura()" color="warning" fill="solid" shape="round" expand="block" style="flex: 1;">
            Modificar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>