<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab-inicial/iniciar" text="" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Escaner QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <div class="container">
    <div class="camera-preview">

      <qrcode [qrdata]="qr" *ngIf="qr" [width]="256" [errorCorrectionLevel]="'M'" [margin]="10"></qrcode>
      
      <p *ngIf="!qr">Escanear QR</p>
    </div>
  </div>

  <ion-button (click)="generarQr()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button>
</ion-content>
