<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Token</ion-label>
    <ion-input type="text" [(ngModel)]="token"></ion-input>
  </ion-item>
  <!-- <ion-item>
    <ion-label position="floating">Nueva Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
  </ion-item> -->
  <ion-button expand="block" (click)="modifPassword()">Continuar</ion-button>
  <!-- <ion-button expand="block" (click)="resetPassword()">Restablecer</ion-button> -->
</ion-content>
