.list_datos {
    width: 100%;
    display: flex;
    justify-content: space-between;

    ion-label {
        display: inherit;
        
    }
}

ion-button {
    font-size: large;
    font-weight: bold;
}