<ion-header>
  <ion-toolbar>
    <!-- Mostrar el menú -->
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Materias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Recorrer los días -->
  <ng-container *ngFor="let dia of getDias()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ dia }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <!-- Recorrer las clases de cada día -->
          <ion-item *ngFor="let clase of horariosPorDia[dia]">
            <ion-label>
              <h3>{{ clase.clase }}</h3>
              <p>{{ clase.hora }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="tomarMateria()" expand="block" fill="clear" shape="round">
      +
    </ion-button>
  </ion-toolbar>
</ion-footer>
