<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true" class="container">

  <ion-title style="margin-top: 2rem;">Bienbenid&#64; a la aplicación</ion-title>
  
  <div class="center btn">
    <ion-button [routerLink]="['/login']" size="large" expand="block" fill="solid" shape="round" color="primary">
      Iniciar Sesión
    </ion-button>

    <strong >o</strong>

    <ion-button [routerLink]="['/register']" size="large" expand="block" fill="solid" shape="round" color="success">
      Registrarse
    </ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;">2024</ion-title>
  </ion-toolbar>
</ion-footer>
