<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="volver()" text="" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>modificar perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="!isLoading">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfil de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre de Usuario</ion-label>
        <ion-input
          [(ngModel)]="user.username"
          placeholder="Nombre de usuario"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo Electrónico</ion-label>
        <ion-input
          [(ngModel)]="user.email"
          placeholder="Correo electrónico"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input
          [(ngModel)]="user.password"
          type="password"
          placeholder="Nueva contraseña"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">RUT</ion-label>
        <ion-input [(ngModel)]="user.rut" placeholder="RUT"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Imagen</ion-label>
        <input type="file" (change)="onFileSelected($event)" />

      </ion-item>
      <ion-button
        expand="block"
        (click)="saveChanges()"
        [disabled]="isUpdating"
      >
        Guardar Cambios
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-spinner *ngIf="isLoading"></ion-spinner>
