<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button (click)="volver()"
      text=""
      color="dark"></ion-back-button>

    </ion-buttons>
    
    <ion-button (click)="AddAsignatura()" slot="end" fill="clear" shape="round">
      <ion-icon name="add-circle-outline" size="large"></ion-icon>
    </ion-button>

    <ion-title>Gestor de asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item *ngFor="let m of materias">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{m.code}}</ion-card-subtitle>
        <ion-card-title>{{m.name}}</ion-card-title>
      </ion-card-header>

      <ion-button (click)="modificarAsignatura(m)" expand="block" fill="clear" shape="round">
        <ion-icon name="pencil-sharp"></ion-icon>
      </ion-button>

    </ion-card>
  </ion-item>
</ion-content>
